.idea/
*.iml
*.ipr
*.iws
*/*.iml
*/*.ipr
*/*.iws
lean-android-lib/default.properties
lean-android-lib/target/
lean-android-mainapp/default.properties
lean-android-mainapp/target/
lean-android-tests/target/
.DS_Store
