<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.leanengine.android.mainapp"
          android:versionCode="1"
          android:versionName="1.0">
    <application android:name=".MainApplication"
                 android:label="@string/app_name"
                 android:icon="@drawable/icon">

        <activity android:name=".MainTabWidget"
                  android:label="@string/app_name"
                  android:configChanges="orientation"
                  android:screenOrientation="portrait">

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".LoginActivity"/>
        <activity android:name=".EditActivity"/>
        <activity android:name=".ViewActivity"/>
        <activity android:name=".TestsActivity"/>
    </application>

    <uses-permission android:name="android.permission.INTERNET"/>
</manifest>
